<h1>{{title}}</h1>
<h2>{{error}}</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <pre class="animated fadeInUp">
        {{nuevoHeroe | json}}
      </pre>
    </div>
    <div class="col-sm-6">
      <form class="animated bounceIn" (ngSubmit)="crearHeroe(nuevoHeroe)" #NuevoHeroForm="ngForm">
        <div class="form-group">
          <label>Heroe</label>
          <!--<div class="animated slideInUp" [hidden]="!nombre.errors">-->
          <!--<span style="font-size:40px" class="bg-primary" *ngIf="nombre.errors && (nombre.dirty || nombre.touched)" >Ingrese un nombre minimo con 4 caracteres </span>-->
          <!--</div>-->

          <input required
                 minlength="5"
                 type="text"
                 class="form-control"
                 placeholder="Digite un nombre de un heroe como: Wolverine"
                 name="nombre"
                 [(ngModel)]="nuevoHeroe.nombre"
                 #nombre="ngModel"
                 #nombreElm>
        </div>
        <button [disabled]="disabledButtons.NuevoHeroeFormSubmitButton||!NuevoHeroForm.valid" type="submit"
                class="btn btn-block btn-success">Crear
        </button>
      </form>
    </div>
    <div class="col-sm-6">
      <h1>{{nuevoHeroe.nombre}}</h1>
    </div>
    <!--<div class="col-sm-12">-->
    <!--<pre>-->
    <!--{{tiendas | json}}-->
    <!--</pre>-->
    <!--</div>-->


  </div>
  <div class="row">
    <div class="col-sm-12 animated flipInX" *ngFor="let heroe of heroes">
      <div class="text-center">
        <h3>{{heroe.nombre}}</h3>
        <p>ID: {{heroe.id}}</p>
      </div>
      <div class="row animated flipInY" [hidden]="!heroe.formularioCerrado">
        <div class="col-sm-5">
          <button class="btn btn-block btn-info"
                  (click)="heroe.formularioCerrado = !heroe.formularioCerrado"
          >Actualizar</button>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <button class="btn btn-block btn-danger" (click)="borrarHeroe(heroe.id)">Borrar</button>
        </div>
        <div class="col-sm-12">
          <a [routerLink]="[heroe.id,'poder']">Ir a poderes</a>
        </div>
      </div>
      <div class="div" [hidden]="heroe.formularioCerrado">
        <form action="">
          <form class="animated bounceIn" (ngSubmit)="actualizarHeroe(heroe)" #NuevoHeroForm="ngForm">
            <div class="form-group">
              <label>Heroe</label>
              <input required
                     minlength="5"
                     type="text"
                     class="form-control"
                     placeholder="Digite un nombre de un heroe como: Wolverine"
                     name="nombre"
                     [(ngModel)]="heroe.nombre"
                     #nombre="ngModel"
                     #nombreElm>
            </div>
            <button [disabled]="disabledButtons.NuevoHeroeFormSubmitButton||!NuevoHeroForm.valid" type="submit"
                    class="btn btn-block btn-success">Update
            </button>
            <button type="button"
                    class="btn btn-block btn-warning"
                    (click)="heroe.formularioCerrado = !heroe.formularioCerrado"
            >
              Cancelar
            </button>
          </form>
        </form>
      </div>

    </div>
  </div>


</div>

<!--<router-outlet></router-outlet>-->

